/* General Styles */
body {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #5f27cd;
  color: white;
  border-radius: 5px;
}

button.normal {
  background-color: #222;
}

/* Additional Styles */
.section-p1 {
  padding: 50px 100px;
}

.section-m1 {
  padding: 50px 100px;
  background-color: #f6f6f6;
}
