footer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  /* padding-right: 4px; */
  margin-right: 5px;
  cursor: pointer;
}
/* #instagram{
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: #fff;
} */
footer .row .img-fluid {
  border: 1px solid #088178;
  border-radius: 6px;
  width: 200px;
}

footer img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}